<footer
  class="bg-brand-green border-t-2 border-black text-blue-200 dark:border-white dark:bg-gray-900 dark:text-gray-400"
>
  <div class="container mx-auto px-6 py-10">
    <div class="grid gap-8 md:grid-cols-2">
      <div>
        <img
          src="/fulllogo.png"
          alt="logo"
          height="40"
          width="170"
          class="mx-auto"
        />
      </div>
      <div>
        <h3 class="mb-2 text-lg font-bold text-white">Quick Links</h3>
        <ul class="grid grid-flow-col grid-rows-3 space-y-1 text-sm">
          <li>
            <a href="#home" class="dark:hover:text-brand-brown hover:text-white"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#about-us"
              class="dark:hover:text-brand-brown hover:text-white"
              >About Us</a
            >
          </li>
          <li>
            <a
              href="#contact-us"
              class="dark:hover:text-brand-brown hover:text-white"
              >Contact Us</a
            >
          </li>
          <!-- <li>
            <a
              href="#programs"
              class="dark:hover:text-brand-brown hover:text-white"
              >Our Programs</a
            >
          </li>
          <li>
            <a
              href="#volunteer"
              class="dark:hover:text-brand-brown hover:text-white"
              >Volunteer</a
            >
          </li>
          <li>
            <a
              href="#donate"
              class="dark:hover:text-brand-brown hover:text-white"
              >Donate</a
            >
          </li> -->
        </ul>
      </div>
    </div>
    <div
      class="border-brand-orange dark:border-brand-orange mt-8 border-t pt-6 text-center text-sm"
    >
      <p>&copy; 2025 The Bloom Foundation. All Rights Reserved.</p>

      <p class="text-[10px]">
        Designed and Built with ❤️ by Pixel Dynasty Development
      </p>
    </div>
  </div>
</footer>
