<header
  id="header"
  class="dark:bg-brand-green sticky top-0 z-50 bg-white/80 shadow-sm backdrop-blur-md"
>
  <div class="container mx-auto px-6 py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-2">
        <!-- <svg
							class="h-8 w-8 text-brand-green"
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round">
							<path d="M12 2L2 7l10 5 10-5-10-5z"></path>
							<path d="M2 17l10 5 10-5"></path>
							<path d="M2 12l10 5 10-5"></path>
						</svg> -->
        <a href="/">
          <!--   <span
                class="text-xl font-bold text-brand-green transition-colors dark:text-gray-200 dark:hover:text-brand-brown"
                >The Bloom Foundation</span> -->
          <img src="/logo.png" alt="logo" height="40" width="185" />
        </a>
      </div>
      <nav class="hidden items-center space-x-8 lg:flex">
        <a
          href="/"
          class="hover:text-brand-green dark:hover:text-brand-brown text-gray-600 transition-colors dark:text-gray-200"
          >Home</a
        >
        <a
          href="/about"
          class="hover:text-brand-green dark:hover:text-brand-brown text-gray-600 transition-colors dark:text-gray-200"
          >About Us</a
        >
        <a
          href="/contact"
          class="hover:text-brand-green dark:hover:text-brand-brown text-gray-600 transition-colors dark:text-gray-200"
          >Contact</a
        >

        <!-- Resources Dropdown -->
        <div class="group relative">
          <button
            class="hover:text-brand-green dark:hover:text-brand-brown flex items-center text-gray-600 transition-colors focus:outline-none dark:text-gray-200"
          >
            Resources
            <svg
              class="ml-1 h-4 w-4 transform transition-transform group-hover:rotate-180"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </button>
          <div
            class="orgin-top-left absolute left-0 z-25 hidden w-40 rounded-md bg-white shadow-lg transition-all duration-500 group-hover:block dark:bg-gray-700"
          >
            <a
              href="#"
              class="block px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600"
              >Careers</a
            >
          </div>
        </div>
      </nav>
      <div class="flex items-center space-x-4">
        <button
          id="theme-toggle"
          class="hover:text-brand-green dark:hover:text-brand-brown text-gray-600 transition-colors dark:text-white"
        >
          <i data-lucide="moon" class="moon-icon h-6 w-6"></i>
          <i data-lucide="sun" class="sun-icon h-6 w-6"></i>
        </button>
        <a
          href="/contact"
          class="bg-brand-orange hidden rounded-lg px-5 py-2 font-semibold text-white shadow-md transition-all hover:bg-orange-600 lg:inline-block"
          >Get Involved</a
        >
        <button
          id="mobile-menu-button"
          class="text-brand-green hover:text-brand-brown focus:outline-none lg:hidden dark:text-white"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden px-6 pb-4 lg:hidden dark:bg-gray-900">
    <a
      href="/"
      class="hover:text-brand-green dark:hover:text-brand-brown block py-2 text-gray-600 dark:text-gray-200"
      >Home</a
    >
    <a
      href="/about"
      class="hover:text-brand-green dark:hover:text-brand-brown block py-2 text-gray-600 dark:text-gray-200"
      >About Us</a
    >
    <div class="group relative">
      <button
        class="hover:text-brand-green dark:hover:text-brand-brown flex items-center text-gray-600 transition-colors focus:outline-none dark:text-gray-200"
      >
        Resources
        <svg
          class="ml-1 h-4 w-4 transform transition-transform group-hover:rotate-180"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>
      <div
        class="orgin-top-left absolute left-0 z-25 hidden w-40 rounded-md bg-white shadow-lg transition-all duration-500 group-hover:block dark:bg-gray-700"
      >
        <a
          href="#"
          class="block px-4 py-2 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600"
          >Careers</a
        >
      </div>
    </div>
    <a
      href="/contact"
      class="hover:text-brand-green dark:hover:text-brand-brown block py-2 text-gray-600 dark:text-gray-200"
      >Contact</a
    >
    <a
      href="/contact"
      class="bg-brand-orange mt-2 block w-full rounded-lg px-5 py-2 text-center font-semibold text-white shadow-md transition-all hover:bg-amber-500"
      >Get Involved</a
    >
  </div>
</header>
